@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Judson:ital,wght@0,400;0,700;1,400&family=Sedan:ital@0;1&display=swap');


body {
  background-color: rgb(25, 41, 71);
  background-image: url('./Assets/media/top-view-desk-with-notebooks-succulent-plant.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;

  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button {
  margin: .2rem;
  border: none;

}

.listContainer {

  transform: translate(300%, -10%);
  height: 60vh;
  width: 20%;
  margin-right: 14rem;
  margin-top: 10rem;
  padding-top: 0.1rem;
  padding-left: 1rem;
  background-image: url('./Assets/media/note_paper_background_with_hole_punches.jpg');

}

.checkboxStyle {
  margin-right: 1rem;
}

.editButton {
  margin-left: 1rem;
}

.addButton {
  border: solid;
  border-width: 1px;  
}

.checkboxStrike {
  text-decoration: line-through;
}
